.newCylinderSetForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.newCylinderSetForm .flexRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin: 0 0 1rem 0;
}
.newCylinderSetForm .gridRow {
  display: grid;
  grid-template-columns: 15% 20% 20% 20% 20% 5%;
  margin: 0 0 1rem 0;
}
.newCylinderSetForm .labelAndInput {
  flex-grow: 0;
  display: flex;
  padding: 0 1rem 0 0;
  flex-direction: column;
}
.newCylinderSetForm .labelAndInput span {
  font-weight: bold;
}
.newCylinderSetForm .rightPart {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 376px;
}
.newCylinderSetForm button {
  background-color: #0D4D7B;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  width: 180px;
}
.newCylinderSetForm .deleteRowButton {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  width: 54px;
}
.newCylinderSetForm .addNewDivingCylinder {
  min-width: 100%;
}
.newCylinderSetForm button:disabled {
  background-color: #a3a3a3;
  border-color: #a3a3a3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.titleBar {
  font-weight: bold;
}
.titleBar span {
  padding: 0 1rem 0 0;
}
