.no-background:not(:hover) {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.table {
  white-space: nowrap;
}
.table .greyBackground {
  background-color: #f1f1f1;
}
.table .whiteBackground {
  background-color: #ffffff;
}
