.no-background:not(:hover) {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.table {
  border: 1px solid #D6D6D6;
  white-space: nowrap;
}
.table .tableHead {
  background-color: #D9E1E9;
}
.table .evenRow {
  background-color: rgba(217, 225, 233, 0.2784313725);
}
.table .oddRow {
  background-color: #FFFFFF;
}
