$transparentColor: rgba(0, 0, 0, 0)
$greyLight: #f1f1f1
$white: #ffffff

.no-background:not(:hover)
  background-color: $transparentColor !important
  border-color: $transparentColor !important

.table
  white-space: nowrap

  .greyBackground
    background-color: $greyLight

  .whiteBackground
    background-color: $white
