$transparentColor: rgba(0, 0, 0, 0)
$evenRow: #D9E1E947
$oddRow: #FFFFFF
$titleBarBlue: #D9E1E9
$borderColor: #D6D6D6

.no-background:not(:hover)
  background-color: $transparentColor !important
  border-color: $transparentColor !important

.table
  border: 1px solid $borderColor
  white-space: nowrap

  .tableHead
    background-color: $titleBarBlue

  .evenRow
    background-color: $evenRow

  .oddRow
    background-color: $oddRow
