@import '../../../variables.scss';

.fillingTile {
  background: $white-smoke-light;
  border-radius: 12px;
  border: 1px solid $timberwolf;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
}
