.resetPassword {
  align-items: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 4rem;

  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;

    h1 {
      font-size: 32px;
    }
  }
}
