@import "../navbar/variables"

.pageSpinnerOverlay
  position: fixed
  top: $navbarHeight
  left: 0
  width: 100%
  height: 100%
  background: #6666666e
  backdrop-filter: blur(2px)
  z-index: 9999
  
.pageSpinnerContainer
  position: relative
  top: 25%
  left: 50%
