#commonButton {
  align-items: center;
  border-radius: 8px;
  border: none;
  display: flex;
  position: relative;
  flex-direction: row;
  font-weight: 500;
  font-family: roboto;
  min-width: 180px;
  justify-content: center;
  padding: 0.5rem 1rem;
}
#commonButton:hover {
  transition-duration: 0.25s;
}
#commonButton:disabled {
  background-color: #C7C7CD;
}
#commonButton:disabled:hover {
  background-color: #C7C7CD;
}

.primaryButton {
  background-color: #0D4D7B;
  color: #FFFFFF;
}
.primaryButton:hover {
  background-color: #1971b1;
}

.secondaryButton {
  background-color: rgba(0, 0, 0, 0);
  outline: 2px solid #0D4D7B;
  color: #0D4D7B;
}
.secondaryButton:hover {
  background-color: #e9e9e9;
}

.tertiaryButton {
  background-color: #142d45;
  color: #FFFFFF;
}
.tertiaryButton:hover {
  background-color: #1a466e;
}

.iconButton {
  padding: 0.5rem 1rem;
  min-width: 100% !important;
}
.iconButton:hover {
  background-color: #C7C7CD;
}
