@import '../../variables.scss';

.footer {
  background-color: $blue-charcoal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: relative;
  left: 0;
  bottom: 0;
  max-height: 120px;
  width: 100%;
}
.footer .row {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer .row .logo {
  color: $white-smoke;
  fill: $white-smoke;
  padding: 0 0 1rem 0;
}
.footer .row .logo svg {
  width: 220px;
}
.footer .row .item {
  align-self: center;
  color: $white-smoke;
  width: 220px;
  text-align: center;
  text-decoration: none;
  padding: 0;
}
.footer .row .item[aria-disabled='true'] {
  cursor: not-allowed;
}

@media (max-width: 455px) {
  .logo {
    padding: 0 !important;

    svg {
      height: 70%;
    }
  }

  .footer .row {
    flex-direction: column;
  }
}
