$greyLight: #E7E7E7

body
  margin: 0
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: #000000

input
  border-color: #9B9B9B

code
  font-family: source-code-pro Menlo Monaco Consolas 'Courier New' monospace

#signInContainer
  height: 50%
  display: flex
  align-items: center
  justify-content: center

#signUpContainer
  display: flex
  align-items: center
  justify-content: center

#signInForm
  background-color: $greyLight
  border-radius: 12px
  margin-bottom: 3em
  padding: 2em 3em

#signUpForm
  background-color: $greyLight
  border-radius: 12px
  margin: auto
  margin-bottom: 3em
  padding: 1em 3em

h1
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 24px
  line-height: 28px
