body {
  background: #1B2631;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000000;
}

input {
  border-color: #9B9B9B;
}

code {
  font-family: source-code-pro Menlo Monaco Consolas "Courier New" monospace;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37.5px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.toast-position {
  top: 5rem !important;
}

main {
  background: #F4F4F4;
  display: flex;
  flex: 1;
  padding-bottom: 2rem;
  min-height: calc(100vh - 64px - 120px);
}
