$aluminium: #d6d6d6;
$black: #000000;
$blue-charcoal: #1b2631;
$dark-blue: #003143;
$blue: #526578;
$blue-hover: #405c7a;
$grey: #c3c3c3;
$grey60: #999999;
$white: #ffffff;
$white-smoke: #f4f4f4;
$white-smoke-light: #f4f4f6a6;
$ghost-white: #d9e1e947;
$timberwolf: #d9e1e9;
$red: #d81717;
